.search-bar{
    width: 100%;
    border-radius: 8px;
    padding: 5rem;
    margin:3rem
}
.search-bar input{
    width: 100%;
    padding: 0.5rem 1rem;
    background: transparent;
    color: white;
    font-size: 3rem; /* increase input text size */
    height: 6rem;
    text-align: center;
}
/* bigger placeholder */
.search-bar input::placeholder{
    font-size: 3rem;
    color: rgba(255,255,255,0.6);
}
.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* Tailwind's blue-500 with opacity */
}
.search-bar-container{
    height: 6rem;
}
.search-bar svg{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.15s ease-out;
}